<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta charset="UTF-8">
<title>Physics Game</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script type="text/javascript" src="/javascripts/application.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>
<body>



  <div id="title3">

    <a href="/"><h1>Slothy: The Game</h1></a>
  </div>

    <!-- <div id="top-bar">
    <div class="container">
    <ul>
      <li><a href="builds">Builds</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="leveling">Leveling</a></li>
      <li><a href="location">Location Guides</a></li>
    </ul>
  </div>
</div> -->

<div id = "body2">
<button onclick="start_game()" id = "button">Start Game</button>
<button onclick="restart()" id = "button2">restart</button>
<p id = "score"> </p>
<p id = "level"> </p>

<p id = "adapt"></p>
<p id = "rain"> </p>
<p id = "teeqo"> </p>
<p id = "apex"> </p>
<p id = "random"> </p>
<p id = "random2"> </p>
<p id = "random3"> </p>

<div id = 'character'></div>
</div>


<script>

var enemys = ['adapt', 'rain', 'teeqo', 'apex', 'random', 'random2', 'random3'];
var enemy = divs[Math.floor(Math.random() * divs.length)];
var rand = ''


function start_game() {

  // document.getElementById("def").style.display = "block";
  // document.getElementById("def2").style.display = "block";
  // document.getElementById("def3").style.display = "block";
  // document.getElementById("def4").style.display = "block";
  // document.getElementById("term").style.display = "block";

  var character = {
    x: 580,
    y: 300,
    speedMultiplier: 4,
    element: document.getElementById("character")
  };

// Detect bullet and player collision

collision()

function collision() {
  $(document).ready(function(){
         var x = $("#character").position();
         var zid = '#' + id
         var z = $(zid).position();
         var topX = parseInt(x.top);
         var topZ = parseInt(z.top);
         var leftX = parseInt(x.left);
         var leftZ = parseInt(z.left);
         var topY = parseInt(y.top);
         var leftY = parseInt(y.left);
         if (topX > topZ && topX < (topZ + 40) && leftX > leftZ && leftX < (leftZ + 150)) {
           alert('Player 1 Won! Click restart to play again.')
           document.getElementById("button2").style.display = "block";
           document.getElementById("def").style.display = "none";
           document.getElementById("def2").style.display = "none";
           document.getElementById("def3").style.display = "none";
           document.getElementById("def4").style.display = "none";
           document.getElementById("term").style.display = "none";
         }
     else {
     collision1()}
 });}


  document.getElementById("button").style.display = "none";
  document.getElementById("character").style.display = "block";


  var index = enemys.indexOf(enemy);
  enemys.splice(index, 1);
  var enemy2 = enemys[Math.floor(Math.random() * enemys.length)];
  var index2 = enemys.indexOf(enemy2);
  enemys.splice(index2, 1);
  var enemy3 = enemys[Math.floor(Math.random() * enemys.length)];
  var index3 = enemys.indexOf(enemy3);
  enemys.splice(index3, 1);
  var enemy4 = enemys[Math.floor(Math.random() * enemys.length)];
  var index4 = enemys.indexOf(enemy4);
  enemys.splice(index4, 1);
  var enemy5 = enemys[Math.floor(Math.random() * enemys.length)];
  var index5 = enemys.indexOf(enemy5);
  enemys.splice(index5, 1);
  var enemy6 = enemys[Math.floor(Math.random() * enemys.length)];
  var index6 = enemys.indexOf(enemy6);
  enemys.splice(index6, 1);
  var enemy7 = enemys[Math.floor(Math.random() * enemys.length)];

  document.getElementById(id2).innerHTML = rand2;
  document.getElementById(id3).innerHTML = rand3;
  document.getElementById(id4).innerHTML = rand4;

  var keys = {};
          keys.UP = 38;
          keys.LEFT = 37;
          keys.RIGHT = 39;
          keys.DOWN = 40;
          keys.W = 87;
          keys.A = 65;
          keys.D = 68;
          keys.S = 83;

      /// store reference to character's position and element


      /// key detection (better to use addEventListener, but this will do)
      document.body.onkeyup =
      document.body.onkeydown = function(e){
        /// prevent default browser handling of keypresses
        if (e.preventDefault) {
          e.preventDefault();
        }
        else {
          e.returnValue = false;
        }
        var kc = e.keyCode || e.which;
        keys[kc] = e.type == 'keydown';
      };

      /// character movement update
      var moveCharacter = function(dx, dy){
        character.x += (dx||0) * character.speedMultiplier;
        character.element.style.left = character.x + 'px';
      };

      /// character control
      var detectCharacterMovement = function(){
        if ( keys[keys.LEFT] ) {
          moveCharacter(-1, 0);
        }
        if ( keys[keys.RIGHT] ) {
          moveCharacter(1, 0);
        }
         if ( keys[keys.A] ) {
          moveCharacter2(-1, 0);
        }
        if ( keys[keys.D] ) {
          moveCharacter2(1, 0);
        }

      };


      /// update current position on screen
      moveCharacter();

      /// game loop
      setInterval(function(){
        detectCharacterMovement();
      }, 1000/24);

  function getPosition() {

    var elem   = document.getElementById("character");
  var top = getComputedStyle(elem).getPropertyValue("top");

  getPosition()
  }
  getPosition()


}

function restart() {
  document.location.href = "";
}

</script>

</body>
</html>
