<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta charset="UTF-8">
<title>Slothy</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script type="text/javascript" src="/javascripts/application.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>
<body>



  <div id="title3">

    <a href="/"><h1>Slothy: The Game</h1></a>
  </div>



<div id = "body2">
<button onclick="start_game()" id = "button">Start Game</button>
<button onclick="restart()" id = "button2">restart</button>
<p id = "score"> </p>
<p id = "term"> </p>
<p id = "def"></p>
<p id = "def2"> </p>
<p id = "def3"> </p>
<p id = "def4"> </p>
<div id = 'character'></div>
<div id = 'character2'></div>
</div>


<script>



var array = ['Current', 'Voltage', 'Electric Circuit', 'Conductor', 'Insulator', 'Battery', 'Series Circuit', 'Parallel Circuit', 'Electricity', 'Volts', 'Electron', 'Multimeter', 'Coulomb', 'Resistor', 'Voltage Rule', 'Amp', '6.25 * 10^n electrons', 'Energy Leaving Circuit', 'Energy Entering Circuit'];
var array2 = ['The rate of the flow of energy', 'the difference in electric potential energy between two points per unit electric charge', 'path for electrical current to flow', 'object that permits an electric current to flow easily', 'a material that does not easily transmit energy', 'Device that converts chemical to electrical energy', 'closed circuit in which the current follows one path', 'circuit is divided into two or more paths', 'the flow of charge', 'energy per coulomb', 'charge that carries electricity through circuit', 'electrical measuring tool', 'unit of electric charge', 'reduce current flow', 'Vtotal = V1 + V2 + V3...Vn', 'coulomb per second', 'coulomb', 'sum of voltages from lightbulbs', 'sum of voltages from battery' ];
var divs = ['def', 'def2', 'def3', 'def4'];
var id = divs[Math.floor(Math.random() * divs.length)];
var rand = ''


function start_game() {

  // document.getElementById("def").style.display = "block";
  // document.getElementById("def2").style.display = "block";
  // document.getElementById("def3").style.display = "block";
  // document.getElementById("def4").style.display = "block";
  // document.getElementById("term").style.display = "block";

  var character = {
    x: 580,
    y: 300,
    speedMultiplier: 4,
    element: document.getElementById("character")
  };

//
//
// collision()
//
// function collision() {
//   $(document).ready(function(){
//          var x = $("#character").position();
//          var y = $("#character2").position();
//          var zid = '#' + id
//          var z = $(zid).position();
//          var topX = parseInt(x.top);
//          var topZ = parseInt(z.top);
//          var leftX = parseInt(x.left);
//          var leftZ = parseInt(z.left);
//          var topY = parseInt(y.top);
//          var leftY = parseInt(y.left);
//          if (topX > topZ && topX < (topZ + 40) && leftX > leftZ && leftX < (leftZ + 150)) {
//            alert('Player 1 Won! Click restart to play again.')
//            document.getElementById("button2").style.display = "block";
//            document.getElementById("def").style.display = "none";
//            document.getElementById("def2").style.display = "none";
//            document.getElementById("def3").style.display = "none";
//            document.getElementById("def4").style.display = "none";
//            document.getElementById("term").style.display = "none";
//          }
//      else {
//      collision()}
//  });}
//

  document.getElementById("button").style.display = "none";
  document.getElementById("character").style.display = "block";
  // var rand = array[Math.floor(Math.random() * array.length)];
  //
  //
  // var rand2 = array2[Math.floor(Math.random() * array2.length)];
  // var index6 = array2.indexOf(rand2);
  // array2.splice(index6, 1);
  // var rand3 = array2[Math.floor(Math.random() * array2.length)];
  // var index7 = array2.indexOf(rand3);
  // array2.splice(index7, 1);
  // var rand4 = array2[Math.floor(Math.random() * array2.length)];
  // var id2 = divs[Math.floor(Math.random() * divs.length)];
  // var index4 = divs.indexOf(id2);
  // divs.splice(index4, 1);
  // var id3 = divs[Math.floor(Math.random() * divs.length)];
  // var index5 = divs.indexOf(id3);
  // divs.splice(index5, 1);
  // id4 = divs[Math.floor(Math.random() * divs.length)];
  // document.getElementById(id2).innerHTML = rand2;
  // document.getElementById(id3).innerHTML = rand3;
  // document.getElementById(id4).innerHTML = rand4;
  // document.getElementById("term").innerHTML = rand;

  var keys = {};
          keys.UP = 38;
          keys.LEFT = 37;
          keys.RIGHT = 39;
          keys.DOWN = 40;
          keys.W = 87;
          keys.A = 65;
          keys.D = 68;
          keys.S = 83;

      /// store reference to character's position and element


      /// key detection (better to use addEventListener, but this will do)
      document.body.onkeyup =
      document.body.onkeydown = function(e){
        /// prevent default browser handling of keypresses
        if (e.preventDefault) {
          e.preventDefault();
        }
        else {
          e.returnValue = false;
        }
        var kc = e.keyCode || e.which;
        keys[kc] = e.type == 'keydown';
      };

      /// character movement update
      var moveCharacter = function(dx, dy){
        character.x += (dx||0) * character.speedMultiplier;
        character.y += (dy||0) * character.speedMultiplier;
        character.element.style.left = character.x + 'px';
        character.element.style.top = character.y + 'px';
      };

      /// character control
      var detectCharacterMovement = function(){

         if ( keys[keys.A] ) {
          moveCharacter(-1, 0);
        }
        if ( keys[keys.D] ) {
          moveCharacter(1, 0);
        }
      };


      /// update current position on screen
      moveCharacter();

      /// game loop
      setInterval(function(){
        detectCharacterMovement();
      }, 1000/24);

  function getPosition() {

    var elem   = document.getElementById("character");
  var top = getComputedStyle(elem).getPropertyValue("top");

  getPosition()
  }
  getPosition()


}

function restart() {
  document.location.href = "";
}

</script>

</body>
</html>
