<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta charset="UTF-8">
<title>Game</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script type="text/javascript" src="/javascripts/application.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>
<body>



<div id = "body2">
<button onclick="start_game()" id = "button">Start Game</button>
<button onclick="restart()" id = "button2">restart</button>
<p id = "score"> </p>
<div id = "def"></div>
<div id = "def2"> </div>
<div id = "def3"> </div>
<div id = "def4"> </div>
<div id = "def5"> </div>
<div id = "def6"> </div>
<div id = "def7"> </div>
<div id = "def8"> </div>
<div id = "def9"> </div>
<div id = "def10"> </div>
<div id = "def11"> </div>
<div id = "apex"> </div>
<div id = "adapt"> </div>
<div id = "teeqo"> </div>
<div id = "rain"> </div>
<div id = 'character'></div>

<div id = "bullet1"> </div>
<div id = "bullet2"> </div>
<div id = 'bullet3'></div>
</div>


<script>






function start_game() {


  var character = {
    x: 300,
    y: 550,
    speedMultiplier: 4,
    element: document.getElementById("character")
  };

  var apex = {
    x: 380,
    y: 2,
    speedMultiplier: 4,
    element: document.getElementById("apex")
  };


function animate1(player, x, y) {
  document.getElementById(player).style.backgroundColor = "pink";
    var elem = document.getElementById(player);
 var pos = x;
 var posy = y;
 elem.style.top = posy + 'px';
 var id = setInterval(frame, 9);
 function frame() {
   if (pos == 500) {
     clearInterval(id);
     var id = setInterval(left, 9);
     function left() {
       if (pos == 0) {
         clearInterval(id);
         var id = setInterval(frame, 9);
       }
       else {
         pos -= 1;
         elem.style.left = pos + 'px';
       }
     }
   } else {
     pos++;
     elem.style.left = pos + 'px';
   }
 }
}
animate1("rain", 0, 300);
// animate1("adapt", 60, 0);
// animate1("teeqo", 120, 0);
// animate1("rain", 180, 0);
// animate1("def", 240, 0);
// animate1("def2", 300, 0);
// animate1("def3", 360, 0);
// animate1("def4", 0, 60);
// animate1("def5", 60, 60);
// animate1("def6", 120, 60);
// animate1("def7", 180, 60);
// animate1("def8", 240, 60);
// animate1("def9", 300, 60);
// animate1("def10", 360, 60);

// if (pos == 800) {
// var id = setInterval(frame2, 9);
// }

 // function frame2() {
 //   if (pos == 0) {
 //     clearInterval(id)
 //     animate1()
 //   } else {
 //     pos -= 1;
 //     elem.style.left = pos + 'px';
 //   }
 // }

  document.getElementById("button").style.display = "none";
  document.getElementById("character").style.display = "block";
  document.getElementById("apex").style.display = "block";



  var keys = {};
          keys.UP = 38;
          keys.LEFT = 37;
          keys.RIGHT = 39;
          keys.DOWN = 40;
          keys.W = 87;
          keys.A = 65;
          keys.D = 68;
          keys.S = 83;
          keys.SPACE = 32;

      /// store reference to character's position and element


      /// key detection (better to use addEventListener, but this will do)
      document.body.onkeyup =
      document.body.onkeydown = function(e){
        /// prevent default browser handling of keypresses
        if (e.preventDefault) {
          e.preventDefault();
        }
        else {
          e.returnValue = false;
        }
        var kc = e.keyCode || e.which;
        keys[kc] = e.type == 'keydown';
      };

      /// character movement update
      var moveCharacter = function(dx, dy){
        character.x += (dx||0) * character.speedMultiplier;
        character.y += (dy||0) * character.speedMultiplier;
        character.element.style.left = character.x + 'px';
        character.element.style.top = character.y + 'px';
      };

      var moveCharacter2 = function(dx, dy){
           apex.x += (dx||0) * apex.speedMultiplier;
           apex.y += (dy||0) * apex.speedMultiplier;
           apex.element.style.left = apex.x + 'px';
           apex.element.style.top = apex.y + 'px';
         };
      var bullets = 3
      function shoot() {
        document.getElementById("bullet1").style.display = "block";
        if (bullets > 0) {
        var start = $("#character").position();
        var s = $("#apex").position();
        document.getElementById("bullet1").style.backgroundColor = "black";

        var bullet1 = document.getElementById("bullet1")
        // var bullet2 = document.getElementById("bullet2");
        // var bullet3 = document.getElementById("bullet3");
        var ypos = parseInt(start.top);
        var xpos = parseInt(start.left);
        var apos = parseInt(s.left);
        bullet1.style.left = xpos + "px";
      bullet1.style.top = ypos + "px";
      var id = setInterval(frame, 10);
      function frame() {
        if (ypos > 0 && ypos < 50) {
          clearInterval(id);
          document.getElementById("bullet1").style.display = "none";
            }
            else {
              ypos -= 1;
              bullet1.style.top = ypos + 'px';
            }}
          }}


      /// character control
      var detectCharacterMovement = function(){

         if ( keys[keys.A] ) {
          moveCharacter(-1, 0);
        }
        if ( keys[keys.D] ) {
          moveCharacter(1, 0);
        }
        if ( keys[keys.LEFT] ) {
          moveCharacter2(-1, 0);
        }
        if ( keys[keys.RIGHT] ) {
          moveCharacter2(1, 0);
        }
        if ( keys[keys.SPACE] ) {
          shoot();
        }
      };


      /// update current position on screen
      moveCharacter();

      /// game loop
      setInterval(function(){
        detectCharacterMovement();
      }, 1000/24);

  function getPosition() {

    var elem   = document.getElementById("character");
  var top = getComputedStyle(elem).getPropertyValue("top");

  getPosition()
  }
  getPosition()


}

function restart() {
  document.location.href = "";
}

</script>

</body>
</html>
