@import 'https://fonts.googleapis.com/css?family=Oswald|Roboto:100';
body, html {
  margin: 0;
  padding: 0;
  border: none;
  overflow-x: hidden;
  /*background-image: url("../images/skyrim.jpg");
  z-index: -1;
   background-attachment: fixed;
   height: 1000px;*/

}

#title3 {
  padding: 0;
  margin:0;
  position: relative;top:0px;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  margin-top: 0;
  text-align: center;
  background-image: url("/images/kalculator.png");

  background-attachment: fixed;
  height: 100px;
  z-index: 5;
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 15px;
  float: none;
  z-index: 1;
  overflow-x: hidden;
}

#title3 h1{
  font-weight: 400;
  color: #eeeeee;
font-family: 'Oswald', sans-serif;
  z-index: 7;
  position: absolute;top:20px;left:0; right: 0;
  margin: 0;
  padding: 0;
  float: center;
  overflow-x: inherit;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

#body2 {
  background-color;
  z-index: 10;
   background-attachment: fixed;
   width: 100%;
   height: 600px;
   position: top: 0px;
   transform: translate3d(0,0,0);
   background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 overflow-x: hidden;
 font-family: 'Oswald', sans-serif;

}


button {
  z-index: 5;
  float: center;
  position: absolute; top: 45%; left: 37.5%;
  width: 25%;
  height: 10%;
  display: block;
  background-color: pink; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
}

#def {
  position: absolute; top: 10%; left: 10%;
  width:150px;
  height:150px;
  text-align: center;
}

#def2 {
  position: absolute; top: 85%; left: 30%;
  width:150px;
  height:80px;
  text-align: center;
}

#def3 {
  position: absolute; top: 35%; left: 65%;
  width:150px;
  height:80px;
  text-align: center;
}

#def4 {
  position: absolute; top: 60%; left: 85%;
  width:150px;
  height:80px;
  text-align: center;
  vertical-align: middle;
}

#character {
   position: absolute;
   width: 21px;
   height: 21px;
   background: black;
   border-radius: 50%;
   display: none;
   }


#button2 {
  display: none;
}

#apex {
  width: 50;
  height: 50;
  color: black;
}
