@import 'https://fonts.googleapis.com/css?family=Oswald|Roboto:100';
body, html {
  margin: 0;
  padding: 0;
  border: none;
  overflow-x: hidden;
  /*background-image: url("../images/skyrim.jpg");
  z-index: -1;
   background-attachment: fixed;
   height: 1000px;*/
width: 900px;
position: absolute;
}


#body2 {
  display: inline-block;
  background-color;
  z-index: 10;
   background-attachment: fixed;
   width: 600px;
   height: 600px;
   transform: translate3d(0,0,0);
   background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 overflow-x: hidden;
 font-family: 'Oswald', sans-serif;
 margin: auto;
 text-align: center;
 position: fixed;
 left: 0;
 right: 0;
 top:0;
 bottom:0;
 overflow: hidden;
}


button {
  z-index: 5;
  float: center;
  position: absolute; top: 45%; left: 37.5%;
  width: 25%;
  height: 10%;
  display: block;
  background-color: pink; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
}




#button2 {
  display: none;
}

#character {
   position: absolute;
   width: 20px;
   height: 20px;
   background: pink;
   border-radius: 50%;
   display: none;
   }


#body2 div {
  width: 50px;
  height: 50px;
  position: absolute;
}

#bullet1 {
  width: 50px;
  height: 50px;
  position: absolute;
}
